body{
	background: #000000;
}

.prima{
	width: 400px;
	background: #1C1916;
	margin: 100px auto;
	padding: 10px 20px 50px 20px;
	border-radius: 5px;
}

.bil{
	width: 385px;
	margin: 5px;
	border: none;
	font-size: 16pt;
	border-radius: 5px;
	padding: 10px;
}

.tombol{
	background: #F17E12;
	width: 100px;
	margin: 5px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: 5px;
	padding: 10px 20px;
	color: #000000;
	font-size: 15pt;
	border-bottom: 5px solid #F17E12;
}

.brand{
	color: #eee;
	font-size: 11pt;
	float: right;
	text-decoration: none;
	margin: 12px;
}

.judul{
	text-align: center;
	color: #eee;
	font-weight: normal;
}